/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
@media only screen and (max-width: 800px) {
 p.Bullet-label-purple {
    font-size: 10px;
  }
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:1200px; height:1700px; background: #fff !important; }
.paper-vertical { width:1200px; height:100%; }
.paper-horizontal { width:2420px; height:1712px; }
@media all and (max-height:1700px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1200px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
.flipwrap {
	-webkit-perspective:800px;
	perspective:800px;
}
.mso.flipcard-side,.mso.flipcard-up {
	width:100% !important;
	height:100% !important;
	perspective:inherit;
}
.flipwrap > .mso > .state {
	-webkit-transition:-webkit-transform 1s;
	transition:transform 1s;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.flipwrap > .mso > .state * {
	-webkit-backface-visibility:initial;
}
.mso.flipcard-side > .state, .mso.flipcard-up > .state {
	display:block;
	opacity:1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	pointer-events:auto;
	transform-style: inherit; // this fix is for FF only, so -webkit prefix is not needed
}
.mso.flipcard-side > .state:nth-child(2) {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
.mso.flipped.flipcard-side > .state:nth-child(2), .mso.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}
.mso.flipped.flipcard-side > .state:nth-child(1) {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}
.mso.flipcard-up > .state:nth-child(2) {
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
}
.mso.flipped.flipcard-up > .state:nth-child(2), .mso.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
}
.mso.flipped.flipcard-up > .state:nth-child(1) {
	-webkit-transform:rotateX(180deg);
	transform:rotateX(180deg);
}
.pageItem.fixed-pos-elem { position:fixed !important; }
.fixed-center-x {
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fixed-center-y {
	top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fixed-center-y.fixed-center-x {
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#item9954 {
	width:1200px !important;
	height:400px !important;
	background:#2c1f51;
}

#item9960 {
	opacity:0.24;
	width:1200px !important;
	height:400px !important;
	background:#633a63;
}

#item2232 {
	width:1200px !important;
	height:759px !important;
	top:941px !important;
	background:#faf8fa;
}

#item1148 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#b5a5b5;
}

#item1171 {
	width:155px !important;
	height:116px !important;
	top:89px !important;
	padding:5px;
}

#item1017 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#3a053a;
}

#item1023 {
	width:155px !important;
	height:156px !important;
	top:25px !important;
}

#item4237 {
	width:155px !important;
	height:206px !important;
	left:150px !important;
	top:1208px !important;
}

#item1149 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#b5a5b5;
}

#item1206 {
	width:155px !important;
	height:116px !important;
	top:89px !important;
	padding:5px;
}

#item1018 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#3a053a;
}

#item1049 {
	width:155px !important;
	height:156px !important;
	top:25px !important;
}

#item4245 {
	width:155px !important;
	height:206px !important;
	left:336px !important;
	top:1208px !important;
}

#item1150 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#b5a5b5;
}

#item1229 {
	width:155px !important;
	height:116px !important;
	top:89px !important;
	padding:5px;
}

#item1019 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#3a053a;
}

#item1073 {
	width:155px !important;
	height:156px !important;
	top:25px !important;
}

#item4246 {
	width:155px !important;
	height:206px !important;
	left:522px !important;
	top:1208px !important;
}

#item1151 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#b5a5b5;
}

#item1254 {
	width:155px !important;
	height:116px !important;
	top:89px !important;
	padding:5px;
}

#item1020 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#3a053a;
}

#item1096 {
	width:155px !important;
	height:156px !important;
	top:25px !important;
}

#item4247 {
	width:155px !important;
	height:206px !important;
	left:709px !important;
	top:1208px !important;
}

#item1147 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#b5a5b5;
}

#item1277 {
	width:155px !important;
	height:103px !important;
	top:103px !important;
	padding:5px;
}

#item1015 {
	width:155px !important;
	height:206px !important;
	border-radius:12px;
	background:#3a053a;
}

#item1119 {
	width:155px !important;
	height:156px !important;
	top:25px !important;
}

#item4248 {
	width:155px !important;
	height:206px !important;
	left:895px !important;
	top:1208px !important;
}

#item1182 {
	width:900px !important;
	height:117px !important;
	left:150px !important;
	top:1043px !important;
}

#item1341 {
	width:1200px !important;
	height:541px !important;
	background:#2c1f51;
}

#item1343 {
	mix-blend-mode:overlay;
	opacity:0.33;
	width:1200px !important;
	height:294px !important;
	left:1px !important;
	top:647px !important;
}

#item1519 {
	width:573px !important;
	left:379px !important;
	top:212px !important;
	min-height:188px !important;
}

#item1542 {
	opacity:0.50;
	width:100px !important;
	height:100px !important;
	left:1100px !important;
	background:#bb5cf2;
}

#item1543 {
	opacity:0.50;
	width:100px !important;
	height:100px !important;
	left:100px !important;
	background:#e0c6fc;
}

#item1544 {
	opacity:0.50;
	width:100px !important;
	height:100px !important;
	left:1000px !important;
	top:100px !important;
	background:#fff;
}

#item1545 {
	opacity:0.50;
	width:100px !important;
	height:100px !important;
	left:1100px !important;
	top:200px !important;
	background:#633a63;
}

#item1546 {
	opacity:0.50;
	width:100px !important;
	height:100px !important;
	left:1100px !important;
	top:300px !important;
	background:#e0c6fc;
}

#item1567 {
	width:189px !important;
	height:189px !important;
	left:150px !important;
	top:211px !important;
	background:#fff;
}

#item1568 {
	width:188px !important;
	height:188px !important;
	left:151px !important;
	top:212px !important;
}

#item4512.fixed-pos-elem {
	width:53px !important;
	height:45px !important;
	left:auto !important;
	top:55px !important;
	right:100px !important;
	-webkit-transform-origin:100% 0 0;
	transform-origin:100% 0 0;
}

#item4513 {
	width:426px !important;
	height:695px !important;
	background:#fff;
}

#item4522.fixed-pos-elem {
	width:426px !important;
	height:695px !important;
	left:auto !important;
	right:0px !important;
	-webkit-transform-origin:100% 0 0;
	transform-origin:100% 0 0;
}

#item4518.fixed-pos-elem {
	width:29px !important;
	height:29px !important;
	left:auto !important;
	top:26px !important;
	right:31px !important;
	-webkit-transform-origin:100% 0 0;
	transform-origin:100% 0 0;
}

@keyframes flyinfrombottom-9614 {
	0% {
		transform:translate(-1px,233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfrombottom-9614 {
	0% {
		-webkit-transform:translate(-1px,233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item1371 {
	width:411px !important;
	top:91px !important;
	min-height:189px !important;
}

#item1395 {
	width:312px !important;
	min-height:142px !important;
}

#item1464 {
	width:1200px !important;
	height:850px !important;
	top:850px !important;
	background:#faf8fa;
}

#item1596 {
	width:905px !important;
	height:140px !important;
	left:148px !important;
	top:55px !important;
}

@keyframes grow-1666 {
	0% {
		transform:translate(0px,0px) scaleX(1) scaleY(0);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
@-webkit-keyframes grow-1666 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(0);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);
		opacity:1;
	}
}
#item1666 {
	transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
}

#item9708 {
	width:26px !important;
	height:259px !important;
	background:#00dae5;
}

#item1656 {
	width:26px !important;
	height:259px !important;
	background:#fff;
}

#item4397 {
	width:26px !important;
	height:259px !important;
	left:116px !important;
	top:27px !important;
}

#item1657 {
	width:26px !important;
	height:238px !important;
	left:233px !important;
	top:49px !important;
	background:#fff;
}

#item1658 {
	width:26px !important;
	height:211px !important;
	left:349px !important;
	top:76px !important;
	background:#fff;
}

#item1660 {
	width:26px !important;
	height:189px !important;
	left:466px !important;
	top:97px !important;
	background:#fff;
}

#item1661 {
	width:26px !important;
	height:157px !important;
	left:582px !important;
	top:130px !important;
	background:#fff;
}

#item1662 {
	width:26px !important;
	height:130px !important;
	left:698px !important;
	top:157px !important;
	background:#fff;
}

#item9620 {
	width:26px !important;
	height:286px !important;
	background:#00dae5;
}

#item1654 {
	width:26px !important;
	height:286px !important;
	background:#fff;
}

#item2165 {
	width:26px !important;
	height:286px !important;
}

#item1988 {
	width:30px !important;
	height:38px !important;
	left:147px !important;
	top:533px !important;
}

#item1846 {
	width:30px !important;
	height:40px !important;
}

#item1869 {
	width:30px !important;
	height:40px !important;
}

#item1892 {
	width:30px !important;
	height:40px !important;
}

#item1915 {
	width:30px !important;
	height:40px !important;
}

#item1942 {
	width:30px !important;
	height:40px !important;
}

#item1965 {
	width:30px !important;
	height:40px !important;
}

@keyframes moveleft-2155 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-46px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-2155 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-46px,0px);
		opacity:1;
	}
}
#item2068 {
	width:52px !important;
	height:16px !important;
	left:10px !important;
	top:9px !important;
}

#item2155 {
	width:62px !important;
	height:34px !important;
	left:333px !important;
	top:231px !important;
}

@keyframes moveleft-4340 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-46px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-4340 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-46px,0px);
		opacity:1;
	}
}
#item4365 {
	width:52px !important;
	height:16px !important;
	left:10px !important;
	top:9px !important;
}

#item4340 {
	width:62px !important;
	height:34px !important;
	left:449px !important;
	top:257px !important;
}

@keyframes moveleft-25830 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-46px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-25830 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-46px,0px);
		opacity:1;
	}
}
#item25856 {
	width:52px !important;
	height:16px !important;
	left:10px !important;
	top:9px !important;
}

#item25830 {
	width:62px !important;
	height:34px !important;
	left:565px !important;
	top:282px !important;
}

@keyframes moveleft-25884 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-46px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-25884 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-46px,0px);
		opacity:1;
	}
}
#item25909 {
	width:52px !important;
	height:16px !important;
	left:10px !important;
	top:9px !important;
}

#item25884 {
	width:62px !important;
	height:34px !important;
	left:682px !important;
	top:306px !important;
}

@keyframes moveleft-25937 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-46px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-25937 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-46px,0px);
		opacity:1;
	}
}
#item25962 {
	width:52px !important;
	height:16px !important;
	left:10px !important;
	top:9px !important;
}

#item25937 {
	width:62px !important;
	height:34px !important;
	left:797px !important;
	top:327px !important;
}

@keyframes moveleft-25997 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-46px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-25997 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-46px,0px);
		opacity:1;
	}
}
#item26023 {
	width:52px !important;
	height:16px !important;
	left:10px !important;
	top:9px !important;
}

#item25997 {
	width:62px !important;
	height:34px !important;
	left:914px !important;
	top:359px !important;
}

@keyframes moveleft-26051 {
	0% {
		transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		transform:translate(-46px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-26051 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
	100% {
		-webkit-transform:translate(-46px,0px);
		opacity:1;
	}
}
#item26077 {
	width:52px !important;
	height:16px !important;
	left:10px !important;
	top:9px !important;
}

#item26051 {
	width:62px !important;
	height:34px !important;
	left:1030px !important;
	top:387px !important;
}

#item2246 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item2251 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item2254 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item2401 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item2405 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item2407 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item2249 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item2235 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item2278 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item2402 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item2404 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item2430 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item2250 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item2236 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item2301 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item5756 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item5758 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item5760 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item2403 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item2406 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item2453 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item5757 {
	width:115px !important;
	height:115px !important;
	left:11px !important;
	background:#633a63;
}

#item5759 {
	width:115px !important;
	height:115px !important;
	top:11px !important;
	box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 10px 20px 0px rgba(0,0,0,0.15);
	background:#fff;
}

#item5783 {
	width:93px !important;
	height:94px !important;
	left:11px !important;
	top:21px !important;
}

#item2324 {
	width:190px !important;
	left:150px !important;
	top:1074px !important;
	min-height:175px !important;
}

#item2476 {
	width:190px !important;
	left:150px !important;
	top:1413px !important;
	min-height:141px !important;
}

#item2351 {
	width:190px !important;
	left:388px !important;
	top:1074px !important;
	min-height:141px !important;
}

#item2499 {
	width:190px !important;
	left:388px !important;
	top:1413px !important;
	min-height:201px !important;
}

#item2374 {
	width:190px !important;
	left:622px !important;
	top:1074px !important;
	min-height:141px !important;
}

#item5806 {
	width:190px !important;
	left:857px !important;
	top:1074px !important;
	min-height:141px !important;
}

#item2522 {
	width:190px !important;
	left:621px !important;
	top:1413px !important;
	min-height:181px !important;
}

#item5829 {
	width:190px !important;
	left:857px !important;
	top:1413px !important;
	min-height:181px !important;
}

p.autoParaStyle7 {
	font-weight:bold;
	font-style:italic;
	font-family:Montserrat;
	font-size:40px;
	line-height:48px;
	color:#3a053a;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle6 {
	font-weight:500;
	font-family:Montserrat;
	font-size:14px;
	line-height:16.8px;
	color:#3a053a;
	text-align:center;
}

p.autoParaStyle5 {
	font-weight:500;
	font-family:Montserrat;
	font-size:16px;
	line-height:19.2px;
	color:#fff;
	text-align:center;
}

p.autoParaStyle4 {
	font-weight:bold;
	font-style:italic;
	font-family:Montserrat;
	font-size:68px;
	line-height:81.6px;
	color:#00dae5;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle3 {
	font-weight:bold;
	font-style:italic;
	font-family:Montserrat;
	font-size:88px;
	line-height:105.6px;
	color:#3a053a;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle2 {
	font-weight:bold;
	font-style:italic;
	font-family:Montserrat;
	font-size:88px;
	line-height:105.6px;
	color:#fff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle1 {
	font-weight:bold;
	font-family:Montserrat;
	font-size:16px;
	line-height:19.2px;
	color:#3a053a;
	text-align:center;
}

p.Chapter-Heading {
	font-weight:bold;
	font-style:italic;
	font-family:Montserrat;
	font-size:46px;
	line-height:55.2px;
	color:#fff;
	text-align:left;
}

p.Sub-section-heading-white {
	font-weight:500;
	font-family:Montserrat;
	font-size:24px;
	line-height:28.8px;
	color:#fff;
	text-align:left;
}

p.Sub-section-heading-purple {
	font-weight:500;
	font-family:Montserrat;
	font-size:24px;
	line-height:28.8px;
	color:#3a053a;
	text-align:center;
}

p.Sub-section-heading-black {
	font-weight:500;
	font-family:Montserrat;
	font-size:24px;
	line-height:28.8px;
	color:#1d191d;
	text-align:left;
}

p.Bullet-label-white {
	font-weight:500;
	font-family:Montserrat;
	font-size:16px;
	line-height:19.2px;
	color:#fff;
	text-align:center;
}

p.Bullet-label-purple {
	font-weight:500;
	font-family:Montserrat;
	font-size:16px;
	line-height:19.2px;
	color:#3a053a;
	text-align:center;
}

p.Chart-title-purple-bold {
	font-weight:600;
	font-family:Montserrat;
	font-size:14px;
	line-height:16.8px;
	color:#3a053a;
	text-align:right;
}

p.Button-label-purple {
	font-weight:600;
	font-family:Montserrat;
	font-size:12px;
	line-height:14.4px;
	color:#3a053a;
	text-transform:uppercase;
	text-align:center;
}

p.Button-label-white {
	font-weight:600;
	font-family:Montserrat;
	font-size:12px;
	line-height:14.4px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}

p.Sub-chart-title-purple {
	font-weight:500;
	font-family:Montserrat;
	font-size:11px;
	line-height:13.2px;
	color:#3a053a;
	text-align:right;
}

p.Chart-title-purple {
	font-weight:600;
	font-family:Montserrat;
	font-size:14px;
	line-height:16.8px;
	color:#3a053a;
	text-align:right;
}

p.Bar-chart-label-horizontal-white {
	font-weight:500;
	font-family:Montserrat;
	font-size:14px;
	line-height:16.8px;
	color:#fff;
	text-align:right;
}

p.Basic-Paragraph {
	font-family:minion-pro,"Minion Pro",serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.No-Paragraph-Style {
	font-family:minion-pro,"Minion Pro",serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

span.Chart-label-extrabold-italic {
	font-weight:bold;
	font-style:italic;
	font-family:Montserrat;
}

span.Section-heading-extrabold-italic- {
	font-weight:bold;
	font-style:italic;
	font-family:Montserrat;
	font-size:24px;
}

span.None {
}
#in5footer,  #prefooter {display:none;}

#loadIndicator{display:none;}
